name: xvideos API test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest requests ffmpeg-progress-yield bs4 lxml git+https://github.com/EchterAlsFake/eaf_base_api
    - name: Test with pytest
      run: |
        pytest